<a href="https://colab.research.google.com/github/Leo2411534/test/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loading Data**

In [ ]:
import pandas as pd
data = pd.read_csv('/content/sample_data/Custom_data/exercise_data.csv')
#TO READ FIVE RANDOM VALUES
data.head()

In [ ]:
#TO READ THE LAST 5 ROWS
data.tail()

In [ ]:
#INFORMTION ABOUT THE DATA
data.info()

In [ ]:
#describe data
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
(data.isnull().sum()/(len(data)))*100

In [ ]:
#To know how many rows and columns
data.shape

**DATA REDUCCION**

In [ ]:
#removing the pulse column
data.drop(['Pulse'], axis=1)

In [ ]:
data.shape

**Working with Date & Time**

In [7]:
from datetime import date
print(date.today().year)
print(date.today().month)
print(date.today())
# Is it 23 of jan ?

2025
1
2025-01-23

In [ ]:
from datetime import datetime
current_time = datetime.now()
print(current_time)

print('Current Time:', current_time.strftime('%H:%M:%S'))

In [ ]:
#Calculate the difference between Pulse & MaxPulse and store it in a new column "DifferenceOfPulse"
data['Differenceofpulse'] = data['Maxpulse']-data['Pulse']
data = data.drop(['Differenceofpulse'], axis=1)
data.head()

**[Handling missing values] Different of handling missing values:**

1. Mean
2. Mode
3. Median
4. Drop those row

In [ ]:
data['Calories'] = data['Calories'].fillna(data['Calories'].mean())
print('Mean of MaxPulse is:', data['Maxpulse'].mean())
print('Mean of MaxPulse is:', data['Maxpulse'].median())
print('Mean of MaxPulse is:', data['Maxpulse'].mode())

#Mean of calories
print('Mean of Calories is:', data['calories'].mean())

In [ ]:
data.head(20)

In [ ]:
data.isnull().sum()

In [21]:
data_cleaned = data.dropna()
#all the rows of all the columns those contain null values

In [20]:
data_cleaned.shape

(31, 5)

In [22]:
data = data.dropna(subset=['Calories'])
#delete null rows from calories columns only
print(data.isnull().sum())
print(data.shape)

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
(32, 5)